@font-face {
  font-family: "Futura";
  src: url("./fonts/futura/unicode.futurab.ttf") format("truetype"),
    local("Futura");
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/roboto/Roboto-VariableFont_wdth\,wght.ttf")
      format("truetype"),
    local("Roboto");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 90%;

  margin-left: auto;
  margin-right: auto;
}

.bi {
  margin-inline: 5px;

  font-size: 20px;
  transition: color 0.5s;
}

#nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  height: 10vh;
}

.hamMenu {
  display: none;
  color: white;
  margin-inline: 2%;
}

.drawer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(38, 38, 38, 0.9);
  z-index: 10;
}

.drawer-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #262626;
  padding: 20px;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
}

.drawer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-family: Futura, sans-serif;
  color: white;
}

.drawer-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.drawer-links a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
  padding: 20px;
  border-radius: 10px;
  border: #666666 1px solid;
  background-color: #313131;
}

.drawer-links a:active {
  background-color: #262626;
  border: #666666 1px solid;
}

.drawer-links a .bi {
  margin-right: 10%;
  transition: color 0.5s;
}

.drawer-links a:hover {
  color: #868686;
}

#logo {
  margin: 0;
  margin-inline: 2%;
  color: white;
  font-family: Futura, sans-serif;
}

#menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 70%;
  font-family: Roboto, sans-serif;
}

#menu a {
  font-size: larger;
  margin-inline: 1%;
  color: white;
  text-decoration: none;
  transition: font-size 0.5s, color 0.5s;
}

#menu a:hover {
  font-size: 25px;
  color: #666666;
}

#hireBtn {
  margin-inline: 2%;
}

.btn {
  display: flex;
  align-items: center;

  text-decoration: none;
  font-family: Roboto, sans-serif;

  margin: 0;
  padding: 10px;
  border: 1px solid white;
  border-radius: 15px;

  background-color: white;
  color: black;
  transition: all 0.5s;
}

.btn:hover {
  cursor: pointer;
  background-color: #262626;
  border: 1px solid white;
  color: white;
}

.cxMain {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: fit-content;

  margin: 5px;
  padding: 25px;
  border-radius: 15px;
  background-color: #262626;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

#cxRight {
  width: 70%;
  display: flex;
  flex-direction: column;
}

#persona {
  width: 30%;
}

#desc {
  padding: 30px;
}

#desc p {
  color: white;
  margin-block: 1%;
  font-family: Roboto, sans-serif;
  font-size: 35pt;
}

#desc span {
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 15pt;
  font-style: italic;
  align-self: flex-start;
}

#desc img {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 20px;
}

#tech {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(38, 38, 38); /* Light gray background */
  padding: 20px;
}

#tech img {
  width: 100px;
  height: 100px;
  margin: 50px;
}

#techTitle {
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 35pt;
  margin: 0;
  align-self: flex-start;
}

#personaImg {
  /* width: 250%; */
  aspect-ratio: 1 / 1;
  object-fit: cover;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#personaImg img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.flip-img {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.flip-img-front,
.flip-img-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.6s;
}

.flip-img-back {
  transform: rotateY(180deg);
}

.flip-img:hover .flip-img-front {
  transform: rotateY(-180deg);
}

.flip-img:hover .flip-img-back {
  transform: rotateY(0deg);
}

#persona h1 {
  color: white;
  margin: 2%;
  font-family: Roboto, sans-serif;
}

#persona h1 > p {
  color: white;
  display: inline-block;
  margin: 0;
  font-family: Futura, sans-serif;
}

#persona .smallDesc {
  color: white;
  margin: 0;
  width: 80%;
  font-size: 20pt;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-weight: lighter;
}

.cxLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#socials {
  margin: 5%;
  gap: 10px;
}

.boxLink {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  width: 72px;
  color: white;
  border: 1px solid #313131;
  border-radius: 15px;
  transition: background-color 0.5s, border-color 0.5s;
}

#socials a:hover {
  background-color: white;
  border-color: white;
  & > .bi {
    color: #262626;
  }
}

#availability {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-start;
  width: 100%;
  height: 20%;
  margin-block: 2%;
}

#availability p {
  font-size: 12pt;
  margin: 0;
  font-family: Roboto, sans-serif;
  color: white;
}

#availability span {
  width: 20px;
  height: 20px;
  margin: 0.5%;
  background-color: green;
  border-radius: 50%;
}

#downloadBtn {
  align-self: flex-start;
  margin-block: 2px;
}

#desc .btn > .bi {
  margin-inline: 5px;
}

.slider {
  flex-direction: row;
  overflow: hidden;
  position: relative;
  width: 100%;
  &::after,
  &::before {
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(38, 38, 38, 1) 100%
    );
    content: "";
    position: absolute;
    height: 223px;
    width: 150px;
    z-index: 2;
  }

  &::before {
    left: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::after {
    right: 0;
    top: 0;
  }
}

.slideTrack {
  display: flex;
  flex: 1;
  /* width: calc(100px * 12); */
  will-change: transform;
  animation: "scroll" 10s linear infinite;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;

  height: 10vh;
  margin-top: 5%;
}

footer p {
  margin: 0.5%;
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 15pt;
}

footer span {
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 5pt;
  font-style: italic;
}

/* projects.html */
#currProj {
  width: 30%;
  align-items: flex-start;
}

#currProj .projImg {
  width: 100%;
  border-radius: 15px;
}

#olderProj {
  width: 70%;
}

.proj {
  height: 200px;
  padding: 15px;
  justify-content: center;
  position: relative;
  align-items: flex-start;
}

.background {
  position: absolute;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mask-image: linear-gradient(to left, rgba(26, 26, 26, 1), rgba(0, 0, 0, 0));
  -webkit-mask-image: linear-gradient(
    to left,
    rgba(26, 26, 26, 1),
    rgba(0, 0, 0, 0)
  );
}

.projContent {
  position: relative;
  z-index: 1;
}

#currProj .projContent {
  margin-top: 3%;
}

.projType {
  margin: 0;
  color: white;
  font-family: Roboto, sans-serif;
  font-weight: lighter;
  font-style: italic;
}

.projName {
  margin: 0;
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 30pt;
}

.projDesc {
  margin-block: 0;
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 15pt;
}

#olderProj .projDesc {
  width: 80%;
}

#olderProj .btn {
  margin: 5px;
  justify-content: center;
}

#projLinks {
  justify-content: flex-start;
  margin-top: 3%;
  gap: 10px;
}

.boxLink .bi {
  color: white;
  fill: white;
}

.boxLink:hover {
  background-color: white;
  border-color: white;
  & > .bi {
    color: #262626;
    fill: #262626;
  }
}

.iconLink {
  color: white;
}

.iconLink:hover .bi {
  color: #868686;
  fill: #868686;
}

.projLink {
  margin-top: 1%;
}

.projLink .bi {
  font-size: 20px;
}

#pzg {
  background-image: url("./imgs/projs/pgz.jpg");
}

#flash {
  background-image: url("./imgs/projs/flash.jpg");
}

#modsify {
  background-image: url("./imgs/projs/modsify.png");
}

#jandj {
  background-image: url("./imgs/projs/jandj.png");
}

/* Modal */
#modal {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.modal-open {
  overflow-y: hidden;
}

.bgModal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #262626c9;
  animation: fadeInOpacity 0.5s ease-in-out;
}

.cxModal {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 50%;
  width: 50%;
  padding: 15px;
  border-radius: 15px;

  background-color: #262626;
  border: 1px solid white;

  animation: slideUp 0.5s ease-in-out;
}

.topWindow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: white;
  margin-bottom: 15px;
}

.topWindow h1 {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.topWindow .bi,
.topWindow h1 {
  font-size: 15px;
}

.topWindow #closeModal {
  color: white;
  transition: color 0.5s;
}

.topWindow #closeModal:hover {
  color: red;
  cursor: pointer;
}

.modalContent iframe {
  width: 100%;
  height: 100%;
}

/* About.html */
.cxAbout {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100vh;
}

.abtContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.abtImg {
  width: 250%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.abtImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

#about {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.abtTxt {
  /* padding: 10px; */
  font-size: 18pt;
}

#about h1 {
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 35pt;
  text-align: end;
}

#about p {
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 18pt;
  text-align: justify;
  padding: 10px;
}

#about a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

#about a:hover {
  color: #868686;
  text-decoration: underline;
}

#facts {
  width: 50%;
  display: flex;
  align-items: flex-start;
}

.fctTitle {
  color: white;
  font-family: Roboto, sans-serif;
  font-weight: bolder;
  font-size: 35pt;
  margin: 0;
}

.cxFct {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.cxFct ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.cxFct li {
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 20pt;
}

.cxFct dd {
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 15pt;
}

.cxFct a {
  text-decoration: none;
  font-weight: bolder;
  color: white;
}

.cxFct a:hover {
  color: #868686;
  text-decoration: underline;
}

dd::before {
  content: "•";
  color: white;
  margin-inline: 5px;
}

/* contact.html */
#map {
  width: 30%;
  align-items: flex-start;
}

#map .cxMap {
  width: 100%;
  height: 100%;
}

.cxMap iframe {
  width: 100%;
  height: 100%;
}

#map p {
  color: white;
  font-family: Roboto, sans-serif;
  margin: 0;
}

#map .underTitle {
  font-style: italic;
}

#map .cxEmails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 3%;
}

#map .cxEmails h2 {
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 25pt;
  margin: 0;
}

#map .cxEmails p {
  display: flex;
  align-items: center;
  color: white;
  font-family: Roboto, sans-serif;
  padding: 2%;
}

#map .cxEmails a {
  color: white;
  text-decoration: none;
}

#map .cxEmails a:hover {
  color: #868686;
  text-decoration: underline;
  transition: color 0.5s;
}

#form {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form h1 {
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 35pt;
}

#form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#form form input,
#form form textarea {
  width: 100%;
  padding: 10px;
  margin: 5px;
  border-radius: 15px;
  border: 1px solid white;
  background-color: #262626;
  color: white;
}

#form form textarea {
  resize: none;
}

#form form input::placeholder,
#form form textarea::placeholder {
  color: #868686;
}

#form form input:focus,
#form form textarea:focus {
  border: 1px solid #666666;
}

#form form .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  margin: 5px;
  border-radius: 15px;
  border: 1px solid white;
  background-color: white;
  color: black;
  font-family: Roboto, sans-serif;
  transition: all 0.5s;
}

#form form .btn:hover {
  cursor: pointer;
  background-color: #262626;
  border: 1px solid white;
  color: white;
}

/* destino.html */
#success {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  color: white;
}

#success .bi {
  font-size: 90pt;
  color: green;
}

#success h1 {
  font-family: Roboto, sans-serif;
  font-size: 35pt;
  margin: 1%;
}

#success p {
  font-family: Roboto, sans-serif;
  font-size: 20pt;
  margin: 0;
}

/* Extras */
/* Animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-200px * 6));
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(0);
  }
}

/* Media Queries */
@media screen and (max-width: 1530px) {
  .abtContainer {
    flex-direction: column;
    align-items: center;
  }

  .abtImg {
    width: 100%;
  }

  #about h1 {
    text-align: center;
  }
}

@media screen and (max-width: 1150px) {
  #abtMain {
    flex-direction: column-reverse;
  }

  #map,
  #form {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  main {
    flex-direction: column;
  }

  #persona,
  #cxRight,
  #currProj,
  #olderProj,
  #about,
  #facts {
    width: 100%;
  }

  #personaImg {
    width: 50%;
    height: 50%;
  }

  #olderProj .projDesc {
    font-size: medium;
  }
}

@media screen and (max-width: 768px) {
  .hamMenu {
    display: block;
  }

  #menu {
    display: none;
  }

  #hireBtn {
    /* TODO: make it smaller*/
    font-size: 0;
    padding: 1px;
    border-radius: 5px;
  }

  #persona h1 {
    font-size: 17pt;
  }

  #persona .smallDesc {
    width: 100%;
    font-size: 17px;
  }

  .cxLinks {
    flex-wrap: nowrap;
  }

  #desc,
  #tech,
  .proj {
    width: 100%;
    height: fit-content;
  }

  #desc p {
    font-size: 20pt;
  }

  #availability {
    margin-block: 5%;
  }

  #availability p {
    font-size: 10pt;
  }

  #availability span {
    width: 12px;
    height: 12px;
  }

  #downloadBtn {
    border-radius: 5px;
  }

  .slider {
    &::after,
    &::before {
      width: 50px;
    }
  }

  .slideTrack {
    display: flex;
    width: calc(100px * 3);
    will-change: transform;
    animation: "scroll" 10s linear infinite;
  }

  #olderProj .btn {
    width: 100%;
  }

  .fctTitle {
    font-size: 25pt;
  }

  .cxFct li {
    font-size: 15pt;
  }

  .cxFct dd {
    font-size: 12pt;
  }
}
